
/* edl - events dashboard landing */

.pies-events-dashboard-landing {
	margin: 25px 0;
}

.divider {
	border: none;
	margin: 15px 0;
}

.edl-select-option select {
	width: 20%;
	padding: 5px 0;
}

.edl-event-name input,
.edl-launch-date input {
	width: 65%;
	padding: 5px 0;
}

.edl-table-footer {
	margin: 25px 0;
}